page-eventos {

  // .box{
  //   width: relative;
  //   height: 150px;
  //   position: relative;
  //   margin: 0%;
  // }
  .card-background-page {

    .box {
      background-color: #0FA4B8;
      width: 100%;
      height:auto;
      position: relative;
      margin-top: -1px !important;
      margin-bottom: auto !important;
    }

    .title {
      font-weight: bold;
      position: relative;
      white-space: normal;
      padding: 3px;
      color: #FFFEFF;
      text-align: left;
      font-size: 1em;
    }
    .subtitle {
      position: relative;
      white-space: normal;
      padding: 3px;
      color: #FFFEFF;
      text-align: left;
      font-size: 1em;
    }
  }
}
