page-eventos-detail {
  .image{
    width: 100%;
    height: 160px;
  }
  .gridInformations{
    font-size: 15px;
  }
  .name{
    font-size: 20px;
    color: #0FA4B8;
    text-align: center;
    width: 100%;
    height: auto;
  }
}
