page-igrejas {

  .card-background-page {
    .ion-card {
        width: 98%;
        height: auto;
        position:relative;
        background-color: #FD6003;
        text-align: left;
    }
    .title {
      font-weight: bold;
      position: relative;
      color: #FFFEFF;
      text-align: left;
      font-size: 1em;
    }
    .subtitle {
      position: relative;
      color: #FFFEFF;
      text-align: left;
      font-size: 1em;
    }
    // .card-subtitle {
    //   font-size: 0.8em;
    //   position: absolute;
    //   top: 65%;
    //   width: 65%;
    //   color: #FFFEFF;
    //   text-align: left;
    // }
  }
}
